<%- model_class = Wall -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:url) %></th>
      <th><%= model_class.human_attribute_name(:delete_after) %></th>
      <th><%= model_class.human_attribute_name(:allow_pictures) %></th>
      <th><%= model_class.human_attribute_name(:allow_videos) %></th>
      <th><%= model_class.human_attribute_name(:allow_text) %></th>
      <th><%= model_class.human_attribute_name(:restrict_location) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @walls.each do |wall| %>
      <tr>
        <td><%= link_to wall.id, wall_path(wall) %></td>
        <td><%= wall.url %></td>
        <td><%= wall.delete_after %></td>
        <td><%= wall.allow_pictures %></td>
        <td><%= wall.allow_videos %></td>
        <td><%= wall.allow_text %></td>
        <td><%= wall.restrict_location %></td>
        <td><%=l wall.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      wall_path(wall), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_wall_path(wall), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      wall_path(wall),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_wall_path,
            :class => 'btn btn-primary' %>
